@import "tailwindcss";

:root {
  --background: #FFF5DF;
  --foreground: #171717;
  --ayaoba-brown: #A05C01;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ayaoba-brown: var(--ayaoba-brown);
  --font-playfair-display: var(--font-playfair-display);
  --font-geologica: var(--font-geologica);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geologica);
}

::selection {
  background-color: var(--ayaoba-brown);
  color: var(--background);
}

::-moz-selection {
  background-color: var(--ayaoba-brown);
  color: var(--background);
}

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0%);
  }

  70% {
    transform: translate(0%, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

.animate-grain {
  animation: grain 8s steps(10) infinite;
}